*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: whitesmoke;
    width: 100%;
   height: 100vh;
    
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
}
nav{
    position: fixed;
}

.container nav{
    background-color: white;
     height:10%;
     width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container .logo{
    
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    padding-top: 10px;

}

.container .nav-links ul{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,auto);

    list-style-type:none;
}
.container .nav-links a:hover{
    text-decoration: underline crimson;
    color: black;
}
.container .nav-links a{
    color:gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.container .parernt{
display: grid; 
grid-template-columns: repeat(2,auto);   
}
.container .content{
    margin-top: 10%;
    padding: 10%;

}
.container .content h2{
    font-size: 80px;
    font-family: sans-serif;
}
.container .content p{
    padding-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.container .content button{
    background-color:brown;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    color: white;
    margin-top: 30px;
}
.container .content button:hover{
    color: black;
    background-color:red;
}
 .container .content button a{
    color: aliceblue;
    text-decoration: none;
} 
.container .content button a:hover{
    color: black;
    background-color:red;
}
.container .photo{
    margin-top: 15%;
    width: 590px;
    padding: 20px;
    margin-right: 60px;
}

/* chefs */

.head {
    text-align: center;
    font-size: 30px;
}
span{
    color: red;
}
.head h2{
font-family: Arial, Helvetica, sans-serif;
}
.head h6{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.name{
     width: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    gap: 30px;
    padding: 40px 80px;
}
.name .item{
background-color: whitesmoke;
transition: 1s;
box-shadow: 5px 10px 5px rgba(0,0,0, 0.3);
}
.name .item img{
    width: 100%;
    border-radius: 10px;
    padding: 0px;
}
.name .item h3{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding: 10px;
}
.name .item p{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding: 10px;
color: grey;
font-style: italic;
}
.name .item:hover{
 scale: 1.1;
 box-shadow: 0px 10px 5px rgba(0,0,0, 0.3);
}
::selection{
color: black;
background-color: cornsilk;
}

/* Gallery */

.section3{
width: 100%;
height: 1500px;
background-color:whitesmoke;
}

.Gallery{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
/* margin-bottom: 30px; */
}
.Gallery h2{
color: black;


}
.Gallery h5{
color: gray;
}
.Gallery span{
color: red;
}
.food{
    width: 90%;
    height: 700px;
display: grid;
grid-template-columns: repeat(3,auto);
gap: 15px;
padding: 5%; 

}
   .food img{
    width: 100%;
    height: 100%;
transition: 1s;
}
  .food img:hover{
    transform: scale(1.05);
  }
.Pizza{
grid-row: 1/2;
}
.Beefsteaks{
    
    width: 100%;
    grid-row: 1/3;
}
.Burger{
    grid-row: 1/2;
    width: 100%;
}
.Levitationpizza{

    width: 100%;
}
.CrispyFriedChicken{
    width: 100%;
}
.Lyulyakebab{
   
    width: 100%;
}
.Frittata{
   
    width: 100%;
}

